html {
  background-color: green;
  font-size: 20px;
}

ul {
  background: red;
  padding: 10px;
  border: 1px solid black;
}

li {
  margin-left: 20px;
}

.button1 {
  background-color: gold;
  font-size: 10px;
  outline: none;
  border-radius: 7px;
}
 
.image {
  font-size: 60px;
}
