html, body {
  margin: 0;
  padding: 0;
}
html {
  background-color: rgb(80, 177, 80);
  font-size: 20px;
}
body {
 position:relative;
}





header {
 background-color: rgb(75, 229, 144);
 height: 80px;
 top: 0px;
 width: 100%;
 display:inline-block;
}
.h1 {
  margin-bottom: 10px;
  margin-left: 35%;
  width: 40%;
  font-size: 20px;
  
}
.headerImage {
  float:left;
  width: 60px;
  height: auto;
  margin-top: 12px;
  margin-left: 5px;
  border-radius: 7px;
}





.conteiner{
 background-color: beige;
 height: auto;
 position:relative;
 width: 100%;
 display: inline-block;
 
}
.imageBlock {
  background-color: blue;
  position: relative;
  width: 50%;
}
.divImage{
  background-color: black;
  display: inline-block;
  margin-top: 7px;
  margin-left: 20px;
  position: absolut;
}
.imageButton {
  width: auto;
  height: 200px;
  margin: 5px;
  position: flex;
  margin-top: 10px;
  margin-left: 5px;
}
.ulPictures {
  display: inline-block;
  font-size: 20px;
  font-family: comic sans ms;
  margin-bottom: 10px;
  position: absolut;
}

.btn-block {
  position:absolute;
  width: 50%;
  height: 100%;
  top: 0;
  right: 0;
  background-color: gold;
}
.button1 {
  background-color: gold;
  font-size: 10px;
  outline: none;
  border-radius: 7px;
  margin-left: 10px;
}




.anBox {
  position: relative;
  width: 100%;
  height: 400px;
  margin-top: 20px;
  margin-bottom: 40px;
}
.anField {
  background-color: black;
  position:relative;
  width: 50%;
  height: 400px;
  right: 0;
  top: 0;
}
.anObj {
  position:absolute;
  width: 60px;
  height: auto;
}
.anButton {
  position:absolute;
  width: 400px;
  height: 250px;
  background-color: black;
  color: whitesmoke;
  font-size: 55px;
  margin-left: 60%;
  margin-top: 75px;
  
}




.footer{
  position:absolute;
  width: 100%;
  height: auto;
}

.hide {
  display:none;
}
.show {
  display:block;
}
.ulPicture_item_active {
  color:#000;
  font-size:22px;
  font-weight:700
}
ul {
  background: rgb(234, 128, 109);
  border: 1px black;
  margin-bottom: 0;
}

